<div data-role="content">
    <form id="search-form">
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Process/document type</li>
            <li>
                <label data-i18n="ProcessDocumentView"></label>
                <button class="ui-btn ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left choose-type"
                        value="Choose types">Choose types</button>
                <div data-role="popup" class="pd-types">
                    <div data-role="header" role="banner"><a href="#" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right" data-rel="back">Close</a>
                        <h3 role="heading" style="width: 150px;margin: 0 20%"></h3>
                    </div>
                    <div data-role="collapsibleset" data-theme="b" data-content-theme="a" data-collapsed-icon="arrow-r"
                         data-expanded-icon="arrow-d" style="margin:0; width:250px;">
                    </div>
                    <!-- /collapsible set -->
                </div>
                <!-- /popup -->
            </li>
            <li data-role="list-divider">Meta data (Process)</li>
            <li>
                <div class="ui-grid-a">
                    <h2>Date of receipt</h2>

                    <div class="ui-block-a">
                        <div style="padding-right: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="date-of-receipt-form"/>
                            <label for="date-of-receipt-form">Form</label>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div style="padding-left: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="date-of-receipt-to"/>
                            <label for="date-of-receipt-to">To</label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ui-grid-a">
                    <h2>Process lifecycle start</h2>

                    <div class="ui-block-a">
                        <div style="padding-right: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="process-lifecycle-start-form"/>
                            <label for="process-lifecycle-start-form">Form</label>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div style="padding-left: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="process-lifecycle-start-to"/>
                            <label for="process-lifecycle-start-to">To</label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ui-grid-a">
                    <h2>Process lifecycle</h2>

                    <div class="ui-block-a">
                        <div style="padding-right: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="process-lifecycle-form"/>
                            <label for="process-lifecycle-form">Form</label>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div style="padding-left: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="process-lifecycle-to"/>
                            <label for="process-lifecycle-to">To</label>
                        </div>
                    </div>
                </div>
            </li>
            <li data-role="list-divider">Meta data (Document)</li>
            <li class="ui-field-contain">
                <label for="auftrag_str">Auftrag</label>
                <input type="text" id="auftrag_str"/>
            </li>
            <li class="ui-field-contain">
                <label for="auftraggeber_str">Auftraggeber</label>
                <input type="text" id="auftraggeber_str"/>
            </li>
            <li>
                <div class="ui-grid-a">
                    <h2>Bescheinigung date</h2>

                    <div class="ui-block-a">
                        <div style="padding-right: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="bescheinigung-date-form"/>
                            <label for="bescheinigung-date-form">Form</label>
                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div style="padding-left: 1em">
                            <input type="text" data-role="datebox" data-options='{"mode": "flipbox"}'
                                   id="bescheinigung-date-to"/>
                            <label for="bescheinigung-date-to">To</label>
                        </div>
                    </div>
                </div>
            </li>
            <li class="ui-field-contain">
                <label for="email_str">Email</label>
                <input type="text" id="email_str"/>
            </li>
            <li class="ui-field-contain">
                <label for="referenz_str">Referenz</label>
                <input type="text" id="referenz_str"/>
            </li>
            <li data-role="list-divider">Saved Search</li>
            <li>
                <label data-i18n="ProcessDocumentView"></label>
                <button data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left">Manage
                    saved search
                </button>

                <div data-role="popup" data-dismissible="false" class="manager-criteria">
                    <div data-role="header" role="banner"><a href="#"
                                                             class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-right"
                                                             data-rel="back">Close</a>

                        <h3 role="heading" style="width: 150px;margin: 0 20%">Saved Search</h3>
                    </div>
                    <div data-role="content" role="main">
                        <ul role="listbox" class="ui-selectmenu-list ui-listview" data-filter="true"
                            style="min-width:210px;">
                            <li style='display:block !important;'><a href="#"
                                                                     class="ui-btn ui-icon-plus ui-btn-icon-left btn-add">add</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </form>
</div>
